
/*footer區塊開始*/
.footer{
    background-color: $black;
    padding: 32px 0;
    @include mobile{
        padding: 24px 0;
    }
}
/*版權宣告區塊*/
.copyright-area{
        .logo{
            margin-bottom: 0;
            @include mobile{
                margin-bottom: 48px;
            }
            .link{
                font-size: 24px;
                color: $white;
                margin-bottom: 0;
                margin-right: 16px;
            }
            
        }

    .title{
        font-size: 14px;
        color: #FFFFFF99;
        margin: 0;

    }
    .copyright-list{
        margin: 0;
        @include mobile{
            margin-bottom: 48px;
        }
        li{
            a{
                color: #FFFFFFDE;
                font-size: 14px;
            }
            a:hover{
                color: $green;
            }
            
            @include mobile{
                margin-bottom: 16px;
            }
        }
    }
}
/*footer區塊結束*/
