/*首頁menu開始*/
.logo{
        font-family: "Raleway",serif;
        font-size: 24px;
    } 
.navbar{
    .navbar-brand{
        @include pad{
            color:#ffffff;
        }
        @include mobile{
            color:#ffffff;
        }
    }
    .navbar-brand:hover{
        @include pad{
            color:#ffffff;
        }
        @include mobile{
            color:#ffffff;
        }
    }


    .nav-link {
        color: #ffffff;
    }
    .nav-link:hover {
        color:$green;
    }
    .navbar-toggler{
        i{
            @include pad{
                color: #ffffff;
            }
    
        }
        i:hover{
            color:$green;
        }
    
    }
    .navbar-collapse{
        .menu{
            .nav-link {
                color: #ffffff;
            }
            .nav-link:hover {
                color:$green;
            }
        }
    }


}

.menu{
        li{
            margin-right: 48px;
        }
    
    }

/*首頁menu結束*/


