/*首頁menu開始*/
.logo{
        font-family: "Raleway",serif;
        font-size: 24px;
    } 
.navbar{
    .navbar-brand{
        @include pad{
            color:$white;
        }
        @include mobile{
            color:$white;
        }
    }
    .navbar-brand:hover{
        @include pad{
            color:$white;
        }
        @include mobile{
            color:$white;
        }
    }


    .nav-link {
        color: $white;
    }
    .nav-link:hover {
        color:$green;
    }
    .navbar-toggler{
        i{
            @include pad{
                color: $white;
            }
    
        }
        i:hover{
            color:$green;
        }
    
    }
    .navbar-collapse{
        .menu{
            .nav-link {
                color: $white;
            }
            .nav-link:hover {
                color:$green;
            }
        }
    }


}
.bg-end{
    background-image: url(../images/done.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
}
/*首頁menu結束*/


