<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">  
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent px-0" style=" position: relative;z-index: 2">

        <button class="navbar-toggler border-0 pl-0" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="material-icons">dehaze</i>
        </button>

        <a class="navbar-brand logo" href="index.html">Craftsman</a>
        <a class="nav-link pr-0 order-md-3" href="#" data-toggle="modal" data-target="#exampleModal">
          <i class="material-icons">shopping_cart</i>
        </a>
        <div class="collapse navbar-collapse mr-auto justify-content-end" id="navbarSupportedContent">
          <ul class="menu navbar-nav"> 
            <li class="mr-48">
              <a class="nav-link" href="#">Product</a>
            </li>
            <li class="mr-48">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="mr-48">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <!-- <li class="">
              <a class="nav-link" href="#"><i class="material-icons shopping__icon">shopping_cart</i></a>
            </li> -->
          </ul>
        </div>
      </nav>
    </div>
  </header>

      <section class="banner-top container-fluid py-3">
        <div class="row justify-content-end">
          <div class="col col-md-6 bg vh-100"></div>
        </div>
       
        <div class="container">
          <div class="row justify-content-start">
            <div class="col col-md-6">
              <div class="slogn-area d-flex justify-content-center flex-column vh-100">
                <div class="slogn">
                  <h2 class="title">Enjoy Your Minimalist Lifestyle.</h2>
                  <p class="text mb-48">The best crafts in Taiwan. Get your free shipping on the first order.</p>
                  <a class="btn btn-success btn-md-inline goshopping" href="#" role="button">Shop now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<%- contents %>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <div class="copyright-area d-sm-flex d-flex justify-content-around align-items-md-center flex-md-row flex-column">

            <h2 class="logo"><a class="link"href="#">Craftsman</a></h2>
            <p class="title d-lg-block  d-sm-none d-flex mr-auto order-3 order-sm-2">© 2020. All Rights Reserved.</p>
            <ul class="copyright-list  d-sm-flex d-block list-unstyled flex-wrap order-2 order-sm-3">
              <li class="order-3"><a href="#">Purchase Policy</a></li>
              <li class="mr-48"><a href="#">Privacy Policy</a></li>
              <li class="order-2 mr-48"><a href="#">Terms & Conditions</a></li>
          </ul>
            <!-- <div class="copyright d-sm-flex d-flex justify-content-md-between align-items-md-center">

            </div> -->
          </div>
      </div>
    </div>
  </div>
  </footer>

    
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="https://unpkg.com/swiper/js/swiper.js"></script>
  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
</body>

</html>
