<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
</head>
<body>
    <header class="header">
        <div class="container">
          <nav class="navbar navbar-color navbar-expand-lg navbar-light px-0">
    
            <button class="navbar-toggler navbar-toggler-color border-0 pl-0 text-dark" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="material-icons">dehaze</i>
            </button>
    
            <a class="navbar-brand navbar-brand-color logo" href="index.html">Craftsman</a>
    
          </nav>
        </div>
      </header>
      <section class="progressbararea">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="progressbar list-unstyled d-flex">
                        <li>Cart</li>
                        <li>information</li>
                        <li class="end">Payment</li>
                    </ul>
                </div>
            </div>
        </div>
    
    </section>
      <%- contents %>
      <footer class="footer-checkoout">
        <div class="container">
          <div class="row">
            <div class="col-12">
                <div class="copyright-footer-area d-sm-flex d-flex align-items-md-center flex-md-row flex-column">
                    <ul class="copyright-list  d-sm-flex d-block list-unstyled flex-wrap order-2 order-sm-3">
                        <li class="order-3"><a href="#">Purchase Policy</a></li>
                        <li class="mr-48"><a href="#">Privacy Policy</a></li>
                        <li class="order-2 mr-48"><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </footer>
      <script src="./assets/js/vendors.js"></script>
      <script src="./assets/js/all.js"></script>
</body>
</html>