/*首頁上方背景區塊開始*/
.slogn-area{
    max-width: 445px;

.slogn{
    .title{
       color:$black;
       font-size: 48px;
       @include pad{
        color: $white;
    }
   }
   .text{
       font-size: 24px;
       color:$text-color;
       @include pad{
        color: #9E9E9E;
       }
   }
   .goshopping{
       padding: 19px 48px;
       @include mobile{
           display: block;
       }
   }
}
}
.bg{
background-image: url(../images/index-1.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
// height: 100vh;
position: absolute;
top: 0;
bottom: 0;
}
.banner-top{
position: relative;
top: -60px;
z-index: 1;
margin-bottom: -61px;
}
/*首頁上方背景區塊結束*/
/*首頁特色區塊開始*/
.content{
    padding: 72px 0;
    .row{
        margin-bottom: 32px;
    }
    .row:last-child{
        margin-bottom: 0;
    }
    .intro-text{
        @include pad{
            padding: 16px 0 24px 0;
        }
        @include mobile{
            width: 100%;
        }
        .title{
            font-size: 24px;
        }
        .text{
            max-width: 350px;
            color:$text-color;
        }
        .link{
            color:$green;
            font-weight: bold;
        }
    }
}
/*首頁特色區塊結束*/
/*首頁作者介紹banner開始*/
.banner{
    background-image: url(../images/index-5.jpg);
    background-size: cover;
    background-position: center center;
    height: 490px;
    .slogn{
        .title{
            max-width: 350px;
            color: $white;
            font-size: 32px;
        }
        .author-intro{
            .occupation{
                color:#FFFFFF99;
                margin-bottom: 4px;
                @include mobile{
                    font-size: 16px;
                }
            }
            .name{
                color: $white;
                @include mobile{
                    font-size: 24px;
                }
            }
            .link{
                color:$green;
                margin-right: 23px;
                @include mobile{
                    font-size: 14px;
                }
            }
        }
    }
}
/*首頁作者介紹banner結束*/
/*首頁訂閱區塊開始*/
.subscribe{
    background-image: url(../images/footer.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px;
}
.subscrible-area{
    .title{
        max-width: 445px;
        font-size: 48px;
        color: $white;
        @include mobile{
            font-size: 32px;
        }
    }
    .form-control{
        height: 100%;
        padding: 19px 16px 18px 16px;
    }
    // .form-control-lg{
    //     padding-right: 59px;
    // }
    .btn{
        padding: 15px 44px 17px 44px;
    }
}
/*首頁訂閱區塊結束*/
/*首頁slider區塊開始*/
.slider{
    padding: 72px 0;
    @include pad{
        padding: 48px 0;
    }
    .card{
        border: 0;
        .mark{
            background-color: $transparent;
            color:$white;
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }
    .card-img-top{
        height: 350px;
        margin-bottom: 8px;
        @include pad{
            width: 240px;
            height: 240px;
        }
    }

    .card-img-top:first-child{
        position: relative;
        // max-width: 100%;
    }
    .card-body{
        padding: 0;
        .price{
            margin-right: 8px;
        }
        .card-title{
            margin-bottom: 4px;
            font-weight: bold;
        }
        .discount-price{
            color: #00000062;
            text-decoration:line-through;
        }
    }
    .swiper-container{
        max-width: 1110px;
        max-height: 409px;
    }
}
/*首頁slider區塊結束*/