/*產品詳細頁面開始*/
.productdetail{
    .breadcrumb{
        background-color: $transparent;
        padding: 0;
    }
    .content{
        
    }
}
.productintro{
    position: relative;
    .product-img{
        position: relative;
        margin-bottom: 48px;
    }
    .mark{
        position: absolute;
        left: 24px;
        top: 24px;
        background-color: $transparent;
        color:#ffffff;
        font-size: 14px;
    }
    .text{
        color:#121212;
    }
    .feature{
        li{
            color:#0000009A;
        }
    }

}
.cart{
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    position: absolute;
    z-index: 2;
    top:50%;
    left:50%;
    transform: translateY(-23%);
    background-color: #fff;

    .title{
        font-size: 48px;
    }
    .pricearea{
        .discount{
            font-size: 24px;
        }
    }

    @include mobile{
        transform: translateY(-50%);
    }
}
@media (min-width:768px) and (max-width:1000px){
    .cart{
        top:87%;
        transform: translateY(-50%);
    }
    .productintro{
        .product-img{
            margin-bottom: 190px;
        }

    }
}
.add{
    margin-right: 24px;
    .number{
        padding: 0 25px;
    }
}

/*產品詳細資訊*/
.addtocart{
    padding: 18px 93px;
    @include mobile{
        padding: 15px 53px;
    }
}
@media (min-width:768px) and (max-width:1000px){
    .addtocart{
        padding: 15px 53px;
        font-size: 14px;
    }

}
/*產品詳細資訊*/
/*產品詳細頁面結束*/