/*產品詳細頁面開始*/
.productdetail{
    .breadcrumb{
        background-color: $transparent;
        padding: 0;
    }
    .content{
        
    }
}
.productintro{
    position: relative;
    .product-img{
        margin-bottom: 48px;
    }
    .mark{
        position: absolute;
        left: 24px;
        top: 24px;
        background-color: $transparent;
        color:#ffffff;
        font-size: 14px;
    }
    .text{
        color:#121212;
    }
    .feature{
        li{
            color:#0000009A;
        }
    }

}
.cart{
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    position: absolute;
    z-index: 2;
    right: 25%;
    top:35%;
    background-color: #fff;

    .title{
        font-size: 48px;
    }
    .pricearea{
        .discount{
            font-size: 24px;
        }
    }
}
.add{
    margin-right: 24px;
    .number{
        padding: 0 25px;
    }
}
/*產品詳細頁面結束*/