
/*產品介紹頁面開始*/
/*產品介紹頁面上方menu*/


// .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
//     color: $green;
//     font-weight: bold;
// }
// .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
//     color: $green;
// }

.navbar{
        background-color: #FFFFFF00;
        .menu-color {
            .ink-success{
                .nav-link{
                    color: #000;
                    // font-weight: bold;
                }
                .nav-link:hover{
                    color:$green;
                    // font-weight: bold;
                }
            }
        }
    }
/*產品類別menu*/
.product{
        .menu{
            background-color: #F2F2F2;
            .list{
                // font-weight: 700;
                a{
                    font-size: 24px;
                    color: #0000009a;
                    @include mobile{
                        font-size: 16px;
                    }
        }
                }
                a:hover{
                    color: $green;
                }
                a.active{
                        color: $green;
                }
        
            }
    }

/*不規則產品清單*/
.productlist{
    padding-top: 48px;
    padding-bottom: 72px;

    .card-columns {
        margin-bottom: 72px;
        @include mobile{
            column-count: 2 !important;
        }

        .card{
            border: 0;
            margin-bottom: 48px;
            @include mobile{
                margin-bottom: 24px;
            }
            .card-body{
                padding: 0;

            }
            
            .card-img-top{
                position: relative;
                height: 350px;
                @include mobile{
                    max-width: 100%;
                    max-height: 166px;
                }
            }

            .mark{
                        background-color: $transparent;
                        color:#fff;
                        position: absolute;
                        top: 16px;
                        right: 16px;
                        @include mobile{
                            display: none;
                        }
                    }
                    .card-title{
                        font-weight: bold;
                        font-size: 24px;
                        @include mobile{
                            font-size: 20px;
                        }
                        
                    }
                    .price{
                        @include mobile{
                            font-size: 14px;
                        }
                    }
                    .discount-price{
                        text-decoration:line-through;
                        color: #00000062;
                        @include mobile{
                            font-size: 14px;
                       }

                    }
                    
        }
        .card:nth-child(5){
            @include mobile{
                display: none;
            }
        }
        .card:nth-child(2),
        .card:nth-child(6),
        .card:nth-child(7){
            .card-img-top{
            height: 240px;
            @include mobile{
                max-width: 100%;
                height: 166px;
            }
            }
        }
        .card:nth-child(3),
        .card:nth-child(4),
        .card:nth-child(8){
            .card-img-top{
                height: 480px;
                @include mobile{
                    max-width: 100%;
                    height: 166px;
                }
                }
        }
      }


}
/*分頁功能*/
.page-number{
    li{
        a{
            font-size: 24px;
            // font-weight: bold;
        }
        a:hover{
            color: $green;
            text-decoration: underline;
        }
        a.active{
            color: $green;
            text-decoration: underline;
        }
    }
}
/*產品介紹頁面結束*/