.banner{
    .title{
        width: 350px;
        color: #ffffff;
        font-size: 32px;
    }
}
.author-intro{
    .occupation{
        color:#FFFFFF99;
    }
    .name{
        color: #ffffff;
    }
    .link{
        color:$green;
        margin-right: 23px;
    }
}
.form-control{
    height: 100%;
    padding: 19px 134px 18px 16px;
}
.btn{
    padding: 20px 44px 17px 44px;
}