.banner{
    .title{
        width: 350px;
        color: #ffffff;
        font-size: 32px;
    }
}
.author-intro{
    .occupation{
        color:#FFFFFF99;
    }
    .name{
        color: #ffffff;
    }
    .link{
        color:$green;
        margin-right: 23px;
    }
}