.content{
    padding: 72px 0;
    .row{
        margin-bottom: 32px;
    }
    .row:last-child{
        margin-bottom: 0;
    }
}
.intro-text{
    .title{
        font-size: 24px;
    }
    .text{
        max-width: 350px;
        color:#0000009A;
        margin-bottom: 16px;
    }
    .link{
        color:$green;
        font-weight: bold;
    }
}
.banner{
    background-image: url(../images/index-5.jpg);
    background-size: cover;
    background-position: center center;
    height: 490px;
}
.subscribe{
    background-image: url(../images/footer.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px;
}
.subscrible-area{
    .title{
        max-width: 445px;
        font-size: 48px;
        margin-bottom: 48px;
        color: #ffffff;
        @include mobile{
            font-size: 32px;
        }
    }
}
